<!DOCTYPE html>
<html>
<head>
	<title>Web-Scrapper</title>
</head>
<body>
	<form action="/" method="POST">
		<input type="text" name="email" placeholder="Enter your email">
		<button name="button">Submit</button>
	</form>
</body>
</html>