<!DOCTYPE html>
<html>
<head>
	<title>Web-Scrapper</title>
</head>
<body>
	<form action="/link" method="POST">
		<input type="text" name="link" placeholder="Enter the amazon link">
		<input type="number" name="userPrice" placeholder="Enter your budget price">
		<button name="button">GO</button>
	</form>
</body>
</html>