<!DOCTYPE html>
<html>
<head>
	<title>Web-Scrapper</title>
</head>
<body>
	<p>Your link:</p>
	<a href="<%=link%>"><%=link.substring(0,50) + " ..."%></a>
	<p>Current Price: <%=price%></p>
</body>
</html>